.foot{
    background:#000 ;
}
.foot-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.foot-grid h1{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.36px;
    text-transform: uppercase;
}
.foot-grid .ul{
    color: var(--c5, #B2B2B2);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    letter-spacing: 0.27px;
    list-style: none;
}
.foot-grid a{
    text-decoration: none;
    color: #B2B2B2;
}