.caixa{
    margin: 150px;
    display: flex;
}
.caixa img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
}
.caixa-item h1{
    color: var(--c11, #111);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 111.111% */  
}
.caixa-item p{
    max-width: 50ch;
    color: var(--c8, #595959);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}
.caixa-item ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.caixa-item li{
    display: flex;
}
.list p{
    color: var(--c8, #595959);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
.caixa2{
    margin: 150px;
    display: flex;
}
.caixa2 img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
}
